.ba-hero {
    background-color: transparent;
    padding: 1rem 2rem;

    &-title {
        font-size: 1.675rem;
        font-weight: 500;
        color: $mainColor;
        margin: 0;
    }
}

.all {
    width: 100%;
    max-height: calc(100vh - 70px);
    overflow: auto;
}

.ba-review-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.ba-section {
    margin-bottom: 26px;
    background-color: #fff;
    border: 1px solid $greyBorders;
    color: $mainColor;
    
    height: 300px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        &_bordered {
            border-bottom: 1px solid $greyBorders;
            padding: 0.875rem;
            width: calc(100% - 1px);
            height: 60px;
        }
    }

    &-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: $gray;

        &_small {
            font-size: 0.875rem;
            font-weight: 500;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $greyBorders;
        padding: 1rem;
        color: $mainColor;
        min-height: 70px;
        width: calc(100% - 1px);
    }

    &-tasks, &-messages, &-activities {

        height: 340px;

        .ba-section-content {
            max-height: 280px;
            overflow: auto;
        }
        
    }
}

.ba-badge {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $blue;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-size: 0.875rem;

    & + .ba-badge {
        margin-left: 0.5rem;
    }

    &-delayTask {
        background-color: $pink;
    }

}

.ba-task {

    &-badge {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
        padding-top: 6px;
    }

    &__info {
        margin-left: 1rem;
        margin-right: auto;
    }

    &__title {
        font-size: 0.75rem;
        font-weight: 500;
        margin: 0;
        letter-spacing: 0.01em;
    }

    &__timeline {
        font-size: 0.55rem;
        margin: 0.5em 0;
        color: $gray;

        &_delay {
            color: $pink;
        }

        span {
            margin-right: 0.5em;
        }
    }
}

.ba-message {
    justify-content: flex-start;
    padding-bottom: 0.5rem;

    &_new {
        background-color: #f4f5f8;
    }
    
    &__info {
        margin-left: 1rem;
        margin-right: auto;
    }

    &__avatar {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    &__username {
        font-size: 0.55rem;
        letter-spacing: 0.01em;
        line-height: 1.5;
        font-weight: 700;
    }

    &__timeline {
        margin-left: 1em;
        color: $gray;
        font-weight: 400;
    }

    &__preview {
        font-size: 0.55rem;
        line-height: 1.5;
    }
}

.ba-activity {
    border: none;
    justify-content: flex-start;

    &__avatar {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    &__info {
        margin-left: 1rem;
        margin-right: auto;
    }

    &__username {
        font-size: 0.55rem;
        letter-spacing: 0.01em;
        line-height: 1.5;
        font-weight: 700;
    }

    &__title {
        margin: 0 0.5em;
        letter-spacing: normal;
        font-weight: 400;
        color: $gray;
    }

    &__timeline {
        font-size: 0.55rem;
        margin: 0.5em 0;
        color: $gray;

        span {
            margin-right: 0.5em;
        }
    }

}

.ba-btn {
    &__options {
        &.icon-options {
            color: $gray;
            margin: 0;
        }

        font-size: 1rem;
    }

    &__reply {
        &.icon-reply {
            color: $gray;
        }
        font-size: 0.675rem;
        margin: 0;
    }

    &__settings {
        &.icon-gear {
            color: $gray;
        }
        font-size: 0.675rem;
        margin: 0 0 0 0.5em;
    }
}

.ba-form {
    width: 125px;
    height: 30px;
    border: 1px solid $greyBorders;
    border-radius: 15px;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
}

.ba-select {
    border: none;
    color: $mainColor;
    min-width: 70px;

    &-wrap {
        position: relative;

        & .ba-select-arrow {
            position: absolute;
            top: 1px;
            bottom: 1px;
            right: 1px;
            width: 15px;
            background-color: #fff;
            display: block;
            pointer-events: none;
            text-align: center;
            font-size: 0.875rem;
        }
    }
}

.ba-chart {
    height: 230px;
    width: 100%;
    padding: 1rem;
    &__svg {
        max-width: 100%;
        height: 100%;
        
        .legend {
            text {
                font-size: 28px;
                stroke: none;
                fill: $gray;
            }
        }      

        .tick {
            text {
                font-size: 28px;
                stroke: none;
                fill: $gray;
            }
        }

        .gridV {
            .domain {
                stroke: none;
            }

            .tick{
                &:nth-last-child(1) {
                    opacity: 0;
                }

                &:nth-first-child(1) {
                    stroke-width: 2px;
                    stroke: $greyBorders;
                }

                line {
                    stroke: $gray;
                }
            }
        }

        .gridH {
            .domain {
                stroke-width: 3px;
                stroke: $greyBorders;
            }

            .tick{
                line {
                    stroke: $gray;
                }
            }
        }
    }

    .tooltip-donut, .tooltip-scatter {
        position: absolute;
        text-align: center;
        padding: .25rem;
        background: rgba(255,255,255,0.75);
        color: $primaryColor;
        border: 1px solid $primaryColor;
        border-radius: 8px;
        pointer-events: none;
        font-size: 1rem;
    }

    
}

.scrollbar {

    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        // z-index: 100;
    }

    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: #F5F5F5;
        // z-index: 150;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-image: -webkit-gradient(linear, left bottom, left top,
                        color-stop(0.44, rgb(122,153,217)),
                        color-stop(0.72, rgb(73,125,189)),
                        color-stop(0.86, rgb(28,58,148)));
        // z-index: 200;
    }
}
