.ba-content{
    background-color: $mainBackground;
}

.ba-review-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ba-chart {
  height: 300px;
  &__svg {
    max-width: 100%;
    height: 100%;
  }
}
