.ba-header {
    background-color: $mainColor;
    color: #fff;
    padding: 0;

    @media screen and (min-width: 769px) {
        height: 100vh;
    }

    &-top {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        height: 75px;
        border-bottom: 1px solid #0d172f;


        .ba-notification-wrap {
            margin-left: auto;
            margin-right: 1.5rem;
            
            button {
                background: none;
                border: none;
                color:#fff;
            }
        }
    }
}

.ba-user {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    &__photo {
        display: inline-block;
        border-radius: 50%;
        margin-right: 0.5rem;
        overflow: hidden;
        width: 35px;
        height: 35px;
    }
}
