.main-wrap{
    display: flex;
    flex-wrap: wrap;
}

.ba-header {
    background-color: $mainColor;
    color: #fff;
    padding: 0;

    @media screen and (min-width: 769px) {
        height: 100vh;
    }

    &-top {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        height: 9vh;
        border-bottom: 1px solid $blueBorders;

        @media screen and (min-width: 321px) {
            padding: 0 2rem;
        }


        .ba-notification-wrap {
            margin-left: auto;
            margin-right: 0.5rem;
            
            button {
                background: none;
                border: none;
                color:#fff;
            }
        }
    }
}

.ba-user {
    display: flex;
    align-items: center;

    .showUserMenu {
        background: none;
        border: none;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    &__photo {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;
    }
}

.ba-main {
    background-color: $mainBackground;
    @media screen and (min-width: 769px) {
        height: 100vh;
    }
}

.ba-toolbar {
    background-color: #fff;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $greyBorders;
    padding: 0 1.5rem;
    color: $mainColor;

    .left, .right {
        display: flex;
        align-items: center;
    }
}

.ba-search {
    display: flex;
    align-items: center;

    &-form {
        display: none;
    }
}

.ba-btn{
    background: none;
    border: none;
    margin: 0 0.5rem;
    
    &[class*='icon-'] {
        color: inherit;
    }

    &__addproject {
        height: 30px;
        width: 100px;
        background-color: $blue;
        border-radius: 15px;
        color: #fff;
        font-size: 0.675rem;
    }
}

.ba-notification-wrap {
    margin: 0 1rem;
}