.main-wrap{
    display: flex;
    flex-wrap: wrap;
}

.ba-header {
    background-color: $mainColor;
    color: #fff;
    padding: 0;

    @media screen and (min-width: 769px) {
        min-height: 100%;

        &--hidden {
            position: fixed;
            transform: translateX(-100%);
        }
    }

    &-top {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        height: 70px;
        border-bottom: 1px solid $blueBorders;

        @media screen and (min-width: 321px) {
            padding: 0 2rem;
        }


        .ba-notification-wrap {
            margin-left: auto;
            margin-right: 0.5rem;
            
            button {
                background: none;
                border: none;
                color:#fff;
            }
        }
    }
}

.ba-user {
    display: flex;
    align-items: center;

    .showUserMenu {
        background: none;
        border: none;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    &__photo {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;
    }
}

.ba-main {
    background-color: $mainBackground;
    @media screen and (min-width: 769px) {
        min-height: 100%;

        &--full {
            max-width: none;
            flex-grow: 1;
        }
    }
}

.ba-toolbar {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $greyBorders;
    padding: 0 1.5rem;
    color: $mainColor;
    position: relative;

    .left, .right {
        display: flex;
        align-items: center;
    }

    .right {
        justify-content: space-between;
    }
}

.ba-search {
    display: flex;
    align-items: center;

    &__input {
        height: 30px;
        border:none;
        border: 1px solid $blue;
        border-radius: 15px;
        width: 75%;
        padding: 0 1rem;
    }

    &-form {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4rem;
        right: 0;
        background-color: #fff;
        padding: 20px 0;

        @media screen and (min-width: 769px) {
            background-color: transparent;
            // top:52%;
            // transform: translateY(-50%);
            // left: 110px;
            // width: 200px;
            padding: 0;
            position: static;
        }

    }

}

.ba-btn{
    background: none;
    border: none;
    margin: 0 0.5rem;
    
    &[class*='icon-'] {
        color: inherit;
    }

    &__addproject {
        height: 30px;
        width: 100px;
        background-color: $blue;
        border-radius: 15px;
        color: #fff;
        font-size: 0.675rem;
    }

    &-message, &-notify {
        position: relative;
        &:after {
            content: attr(dataCount);
            display: block;
            position: absolute;
            left: 60%;
            top: -10px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: $blue;
            color: #fff;
            font-size: 0.75rem;
            padding-top: 1px;
        }
    }
}

.ba-notification-wrap {
    margin: 0 1rem;
}