.ba-start-menu {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;

    &__item + &__item {
        margin-left: 1rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    span {
        font-size: 1rem;
        color: white;
    }
}
