// variables
$mainColor: #0e1a35;
$mainBackground: #f6f7fa;

$gray: #8492af;
$grayLight: #d4d9e3;
$greyBorders: #ebedf2;
$blue: #5584ff;
$blueBorders: #0d172f;
$pink: #f83c7b;

$container: 1170px;
$colGups: 15px;

$textFont-size: 1rem;  // 16px
$linkColor: blue;

$breakpoints: (
    xs: 0,
    sm: 320px,
    md: 769px,
    lg: 1025px,
    xl: 1200px,
    xxl: 1440px
);

$primaryColor: $gray;
