// variables
$mainColor: #0e1a35;
$mainBackground: #f6f7fa;

$gray: #8492af;
$grayLight: #d4d9e3;
$blue: #5584ff;

$container: 1170px;
$colGups: 15px;

$textFont-size: 1rem;  // 16px
$linkColor: blue;

$breakpoints: (
    xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1025px,
    xl: 1200px,
    xxl: 1440px
);

$primaryColor: $gray;
