include templates/head.pug
include templates/header.pug

main.col-12.col-md-8.col-lg-10.ba-main
  section.ba-hero
    h1.ba-hero-title Hello, John!
  .ba-review-wrap
    section.col-12.col-md-5.ba-sales
      h2.ba-section-title Your sales
      div#ba-sales-chart
    section.col-12.col-md-7.ba-report
      h2.ba-section-title Report
    section.col-12.col-md-4.ba-tasks hi
    section.col-12.col-md-4.ba-messages hi
    section.col-12.col-md-4.ba-activities hi

include templates/footer.pug