extends templates/layout.pug

block content
  .main-wrap
    include templates/header.pug
    main.col-12.col-md-9.col-lg-10.ba-main
      include templates/toolbar.pug
      
      section.ba-hero.row
        h1.ba-hero-title Hello, John!
      .row.ba-review-wrap
        .col-12.col-md-5
          section.ba-section.ba-section-sales
            .ba-section-header
              h2.ba-section-title Your sales
              form.ba-form.ba-sales-form
                label(for="#ba-sales__select") Period:
                select#ba-sales__select.ba-select
                  -var salesData = salesFiles
                  each salesPeriod in salesData
                    option.ba-sales-option(value=salesPeriod[0])=salesPeriod[0]
            div#ba-sales-chart.ba-chart
              svg.ba-chart__svg(viewbox = "0 0 720 360")
        .col-12.col-md-7
          section.ba-section.ba-section-report
            .ba-section-header
              h2.ba-section-title Report
              form.ba-form.ba-report-form
                label(for="#ba-report__select") Period:
                select#ba-report__select.ba-select
                  -var reportData = reportFiles
                  each reportPeriod in reportData
                    option.ba-sales-option(value=reportPeriod[0])=reportPeriod[0]
            div#ba-report-chart.ba-chart
              svg.ba-chart__svg(viewbox = "0 0 1000 420")
        .col-12.col-md-4
          section.ba-section.ba-section-tasks
            .ba-section-header.ba-section-header_bordered
              h2.ba-section-title_small Tasks
              .ba-badges
                span.ba-badge.ba-badge-newTask 5
                span.ba-badge.ba-badge-delayTask 2
            .ba-section-content.scrollbar
              .ba-section-item.ba-task
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_delay
                    span.icon-time
                    = '5 days delay'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task
                span.ba-badge.ba-task-badge F
                .ba-task__info
                  h3.ba-task__title Free business PSD Template
                  p.ba-task__timeline.ba-task__timeline
                    span.icon-time
                    = '2 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_delay
                    span.icon-time
                    = '5 days delay'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task
                span.ba-badge.ba-task-badge F
                .ba-task__info
                  h3.ba-task__title Free business PSD Template
                  p.ba-task__timeline.ba-task__timeline
                    span.icon-time
                    = '2 days left'
                button.ba-btn.ba-btn__options.icon-options
        .col-12.col-md-4
          section.ba-section.ba-section-messages
            .ba-section-header.ba-section-header_bordered
              h2.ba-section-title_small Messages
              span.ba-badge.ba-badge-newMessage 2
            .ba-section-content.scrollbar
              .ba-section-item.ba-message.ba-message_new
                img.ba-message__avatar(src="images/user.png", alt="user")
                .ba-message__info
                  h3.ba-message__username Nina Jones
                    span.ba-message__timeline 5 minutes ago
                  p.ba-message__preview
                    = "Hey You! It's me again :-) I attached new (...)"
                  .ba-message-options
                    button.ba-btn.ba-btn__reply.icon-reply
                    button.ba-btn.ba-btn__settings.icon-gear
              .ba-section-item.ba-message
                img.ba-message__avatar(src="images/user.png", alt="user")
                .ba-message__info
                  h3.ba-message__username Nina Jones
                    span.ba-message__timeline 5 minutes ago
                  p.ba-message__preview
                    = "Hey You! It's me again :-) I attached new (...)"
                  .ba-message-options
                    button.ba-btn.ba-btn__reply.icon-reply
                    button.ba-btn.ba-btn__settings.icon-gear
              .ba-section-item.ba-message.ba-message_new
                img.ba-message__avatar(src="images/user.png", alt="user")
                .ba-message__info
                  h3.ba-message__username Nina Jones
                    span.ba-message__timeline 5 minutes ago
                  p.ba-message__preview
                    = "Hey You! It's me again :-) I attached new (...)"
                  .ba-message-options
                    button.ba-btn.ba-btn__reply.icon-reply
                    button.ba-btn.ba-btn__settings.icon-gear
              .ba-section-item.ba-message
                img.ba-message__avatar(src="images/user.png", alt="user")
                .ba-message__info
                  h3.ba-message__username Nina Jones
                    span.ba-message__timeline 5 minutes ago
                  p.ba-message__preview
                    = "Hey You! It's me again :-) I attached new (...)"
                  .ba-message-options
                    button.ba-btn.ba-btn__reply.icon-reply
                    button.ba-btn.ba-btn__settings.icon-gear
        .col-12.col-md-4
          section.ba-section.ba-section-activities
            .ba-section-header.ba-section-header_bordered
              h2.ba-section-title_small Activities
              span.ba-badge.ba-badge-newTask 10
            .ba-section-content.scrollbar
              .ba-section-item.ba-activity
                img.ba-activity__avatar(src="images/user.png", alt="user")
                .ba-activity__info
                  h3.ba-activity__username Nina Jones
                    span.ba-activity__title added a new project
                    span.ba-activity__target Free UI Kit
                  p.ba-activity__timeline
                    span.icon-time
                    = "just now"
              .ba-section-item.ba-activity
                img.ba-activity__avatar(src="images/user.png", alt="user")
                .ba-activity__info
                  h3.ba-activity__username Nina Jones
                    span.ba-activity__title commented project
                    span.ba-activity__target Free PSD Template
                  p.ba-activity__timeline
                    span.icon-time
                    = "40 minutes ago"
              .ba-section-item.ba-activity
                img.ba-activity__avatar(src="images/user.png", alt="user")
                .ba-activity__info
                  h3.ba-activity__username Nina Jones
                    span.ba-activity__title added a new project
                    span.ba-activity__target Free UI Kit
                  p.ba-activity__timeline
                    span.icon-time
                    = "1 hour ago"
              .ba-section-item.ba-activity
                img.ba-activity__avatar(src="images/user.png", alt="user")
                .ba-activity__info
                  h3.ba-activity__username Nina Jones
                    span.ba-activity__title commented project
                    span.ba-activity__target Free PSD Template
                  p.ba-activity__timeline
                    span.icon-time
                    = "3 hours ago"

block foot
  include templates/footer.pug