extends templates/layout.pug

block content
  .main-wrap
    include templates/header.pug
    main.col-12.col-md-9.col-lg-10.ba-main
      include templates/toolbar.pug
      
      section.ba-hero.row
        h1.ba-hero-title Hello, John!
      .row.ba-review-wrap
        .col-12.col-md-5
          section.ba-section.ba-section-sales
            .ba-section-header
              h2.ba-section-title Your sales
              form.ba-form.ba-sales-form
                label(for="#ba-sales__select") Period:
                .ba-select-wrap
                  .ba-select-arrow.icon-angle-down
                  select#ba-sales__select.ba-select
                    -var salesData = salesFiles
                    each salesPeriod in salesData
                      option.ba-sales-option(value=salesPeriod[0])=salesPeriod[0]
            div#ba-sales-chart.ba-chart
              svg.ba-chart__svg(viewbox = "0 0 720 360")
        .col-12.col-md-7
          section.ba-section.ba-section-report
            .ba-section-header
              h2.ba-section-title Report
              form.ba-form.ba-report-form
                label(for="#ba-report__select") Period:
                .ba-select-wrap
                  .ba-select-arrow.icon-angle-down
                  select#ba-report__select.ba-select
                    -var reportData = reportFiles
                    each reportPeriod in reportData
                      option.ba-sales-option(value=reportPeriod[0])=reportPeriod[0]
            div#ba-report-chart.ba-chart
              svg.ba-chart__svg(viewbox = "0 0 820 430")
        .col-12.col-md-4
          section.ba-section.ba-section-tasks
            .ba-section-header.ba-section-header_bordered
              h2.ba-section-title_small Tasks
              .ba-badges
                span.ba-badge.ba-badge-newTask 5
                span.ba-badge.ba-badge-delayTask 2
        .col-12.col-md-4
          section.ba-section.ba-section-messages
            .ba-section-header.ba-section-header_bordered
              h2.ba-section-title_small Messages
              span.ba-badge.ba-badge-newTask 2
        .col-12.col-md-4
          section.ba-section.ba-section-activities
            .ba-section-header.ba-section-header_bordered
              h2.ba-section-title_small Activities
              span.ba-badge.ba-badge-newTask 10

block foot
  include templates/footer.pug