include templates/head.pug

.main-menu-wrap
  include templates/header.pug
  main.col-12.col-md-8.col-lg-10.ba-toolbar
    include templates/toolbar.pug
    
    .ba-content
      section.ba-hero
        h1.ba-hero-title Hello, John!
      .ba-review-wrap
        section.col-12.col-md-5.ba-sales
          h2.ba-section-title Your sales
          div#ba-sales-chart
            svg(viewbox = "0 0 720 360")
        section.col-12.col-md-7.ba-report
          h2.ba-section-title Report
          div#ba-report-chart
            svg(viewbox = "0 0 820 430")
        section.col-12.col-md-4.ba-tasks hi
        section.col-12.col-md-4.ba-messages hi
        section.col-12.col-md-4.ba-activities hi

include templates/footer.pug