include templates/head.pug

.content-big
  .col-12.col-md-8.content-wrap
    header.ba-start-header
      .ba-start-header__container
        a.ba-logo(href='#')
          img.ba-logo__img(src="images/ba-logo-img.png", alt="logo")
          = 'merkury'
        nav
          ul.ba-start-menu
            -var menuList = startmenu
            each menuItem, index in menuList
              li.ba-start-menu__item
                a.hidden-before-sm.ba-start-menu__link(href='#'+menuItem[1])=menuItem[0]
                a.hidden-sm.ba-start-menu__link(href='#'+menuItem[1])
                  span(class=''+menuItem[2])
    main
      .ba-form__container
        h1.ba-title Welcome 
          span.blue back
          = '!'
        form.ba-form(action="#" method="POST" id="ba-form")
          label.ba-label.icon-user
            input.ba-input__login(type="text", id="ba-login" name="ba-login", placeholder="Username")
          label.ba-label.icon-lock
            input.ba-input__password(type="password", id="ba-password" name="ba-password", placeholder="Password")
          button.ba-btn__submit(type="submit", id="submitBtn" name="ba-submit") Enter

include templates/footer.pug
