extends templates/layout.pug

block content
  .main-wrap
    include templates/header.pug
    main.col-12.col-md-9.col-lg-10.ba-main
      include templates/toolbar.pug

      .row.workflow-wrap
        .col-12.col-md-4
          section.ba-section.ba-section-todo
            .ba-section-header
              h2.ba-section-title(dataCount='6') To do
              span.icon-angle-right
            .ba-tasks(id="div1" ondrop="drop(event, this)" ondragover="allowDrow(event)").scrollbar
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag1")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline
                    span.icon-time
                    = '5 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag2")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_delay
                    span.icon-time
                    = '5 days delay'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag3")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline
                    span.icon-time
                    = '5 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag4")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline
                    span.icon-time
                    = '5 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag5")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline
                    span.icon-time
                    = '10 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag6")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_delay
                    span.icon-time
                    = '5 days delay'
                button.ba-btn.ba-btn__options.icon-options
        .col-12.col-md-4
          section.ba-section.ba-section-inprogress
            .ba-section-header
              h2.ba-section-title(dataCount='3') In progress
              span.icon-angle-right
            .ba-tasks(id="div2" ondrop="drop(event, this)" ondragover="allowDrow(event)").scrollbar
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag7")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline
                    span.icon-time
                    = '5 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag8")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline
                    span.icon-time
                    = '3 days left'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag9")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_delay
                    span.icon-time
                    = '1 days delay'
                button.ba-btn.ba-btn__options.icon-options
        .col-12.col-md-4
          section.ba-section.ba-section-done
            .ba-section-header
              h2.ba-section-title(dataCount='4') Completed
            .ba-tasks(id="div3" ondrop="drop(event, this)" ondragover="allowDrow(event)").scrollbar
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag10")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_done
                    span.icon-checked
                    = 'Completed!'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag11")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_done
                    span.icon-checked
                    = 'Completed!'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag12")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_done
                    span.icon-checked
                    = 'Completed!'
                button.ba-btn.ba-btn__options.icon-options
              .ba-section-item.ba-task(draggable="true" ondragstart="drag(event)" id="drag13")
                span.ba-badge.ba-task-badge N
                .ba-task__info
                  h3.ba-task__title New website for Sumy.co
                  p.ba-task__timeline.ba-task__timeline_done
                    span.icon-checked
                    = 'Completed!'
                button.ba-btn.ba-btn__options.icon-options

block foot
  include templates/footer.pug