extends templates/layout.pug

block content
  .main-wrap
    include templates/header.pug
    main.col-12.col-md-9.col-lg-10.ba-main
      include templates/toolbar.pug

block foot
  include templates/footer.pug