footer.ba-footer

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js')
script(src='https://d3js.org/d3.v4.js')
script(src='https://d3js.org/d3-time.v1.min.js')
script(src='https://d3js.org/d3-time-format.v2.min.js')
script(src='js/slick.min.js')
script(src='js/app.js')