//- header.ba-header
//-   .container.ba-header__container
//-     a.ba-logo(href='#') kross
//-     nav
//-       ul.menu
//-         -var menuList = menu
//-         each menuItem, index in menuList
//-           li.menu__item
//-             a.menu__link(href='#'+menuItem[1])=menuItem[0]